/* variables */
:root {
  /* pantone colour hex approximations */
  --p-black: #000000; /* black */
  --p-safe: #ffffff; /* white */
  --p-red-032-c: #ef3340; /* red */
  --p-108-c: #fedb00; /* yellow */
  --p-109-c: #ffd100; /* yellow */
  --p-115-c: #fdda24; /* yellow */
  --p-122-c: #fed141; /* yellow */
  --p-186-c: #c8102e; /* dark red */
  --p-199-c: #d50032; /* red */
  --p-280-c: #012169; /* dark blue */
  --p-284-c: #6cace4; /* pale blue */
  --p-286-c: #0033a0; /* blue */
  --p-294-c: #002f6c; /* blue */
  --p-314-c: #007fa3; /* teal */
  --p-348-c: #00843d; /* forest green */
  --p-355-c: #009639; /* green */
  --p-356-c: #007a33; /* green */
  --p-483-c: #653024; /* brown */
  --p-485-c: #da291c; /* red */
  --p-1235-c: #ffb81c; /* yellow */
  --p-1795-c: #d22630; /* red */
  --p-1955-c: #8a1538; /* maroon */
  /* hypotenuse length for diagonal elements */
  --h-2-1: 223.61%;
  /* angles for diagonal elements */
  --a-2-1-b-l: 63.435deg;
  --a-2-1-b-r: -63.435deg;
  --a-8-5-b-l: 57.995deg;
  --a-8-5-b-r: -57.995deg;
  --a-3-2-b-l: 56.31deg;
  --a-3-2-b-r: -56.31deg;
  --a-3-2-b: 33.69deg;
  --a-4-3-b-l: 53.13deg;
  --a-4-3-b-r: -53.13deg;
  /* ratio values */
  --r-14-9: 0.6429;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to right, #fed, #def);
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
  padding: 30px;
}

/* grid */
.flags__grid {
  display: grid;
  align-items: center;
  grid-template-columns: 100%;
  @media screen and (min-width: 700px) {
    grid-template-columns: repeat(2, 50%);
  }
  @media screen and (min-width: 1100px) {
    grid-template-columns: repeat(3, calc(100% / 3));
  }
  @media screen and (min-width: 1600px) {
    grid-template-columns: repeat(4, 25%);
  }
}

.flags__item {
  padding: 15px;
  *, *::before, *::after {
    position: absolute;
  }
}

/* common flag elements */
.column--1-2 {
  top: 0;
  width: 50%;
  height: 100%;
}

.row--1-2 {
  left: 0;
  width: 100%;
  height: 50%;
}

.column--1-3 {
  top: 0;
  width: calc(100% / 3);
  height: 100%;
}

.row--1-3 {
  left: 0;
  width: 100%;
  height: calc(100% / 3);
}

.column--1-4 {
  top: 0;
  width: 25%;
  height: 100%;
}

.row--1-4 {
  left: 0;
  width: 100%;
  height: 25%;
}

.row--1-9 {
  left: 0;
  width: 100%;
  height: calc(100% / 9);
}

.star__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.star__arm {
  position: absolute;
  height: 50%;
  width: 100%;
  transform-origin: bottom center;
  @for $i from 1 through 4 {
    &:nth-child(#{$i + 1}) {
      transform: rotate(72deg * $i)
    }
  }
}

.arm__half {
  overflow: hidden;
  position: absolute;
  height: 100%;
  width: 50%;
  &::after {
    position: absolute;
    display: block;
    content: " ";
    height: 100%;
    width: 32.5%;
  }
}

.arm__half--left {
  &::after {
    right: 0;
    transform: skew(-18deg);
    transform-origin: bottom right;
  }
}

.arm__half--right {
  right: 0;
  &::after {
    transform: skew(18deg);
    transform-origin: bottom left;
  }
}

/* flag ratios */
.flag__ratio {
  box-shadow: 5px 5px rgba(127, 127, 127, 0.25);
  position: relative;
  margin: 0 auto;
  padding-top: 50%;
}

.flag__ratio--28-11 {
  width: 100%;
  padding-top: 39.286%;
}

.flag__ratio--2-1 {
  width: 100%;
}

.flag__ratio--14-9 {
  width: calc(100% * 14 / 18);
}

.flag__ratio--3-2 {
  width: calc(100% * 3 / 4);
}

.flag__ratio--37-28 {
  width: calc(100% * 37 / 52);
}

.flag__ratio--17-14 {
  width: calc(100% * 14 / 34);
}

.flag__ratio--1-1 {
  width: 50%;
}

/* flags */
.flag {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  &::after {
    background-color: rgba(0, 0, 0, 0.75);
    color: var(--p-safe);
    content: attr(title);
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 250ms ease-in-out;
  }
  &:hover::after {
    opacity: 1;
  }
}

/* Argentina flag */
.flag--argentina {
  background-color: var(--p-safe);
  .row--1-3 {
    background-color: var(--p-284-c);
    &:nth-child(2) {
      bottom: 0;
    }
  }
  .sun {
    background-image: radial-gradient(
      var(--p-1235-c) 0%,
      var(--p-safe) 75%,
      var(--p-safe) 100%
    );
    top: 35%;
    left: 50%;
    width: calc(var(--r-14-9) * 30%);
    height: 30%;
    transform: translateX(-50%);
  }
  .sun__ray {
    background-image: linear-gradient(
      to bottom,
      var(--p-1235-c) 0%,
      var(--p-483-c) 35%,
      var(--p-483-c) 65%,
      var(--p-1235-c) 100%
    );
    top: 0;
    left: 50%;
    height: 100%;
    width: 2%;
    @for $i from 1 through 16 {
      &:nth-child(#{$i}) {
        transform: rotate(11.25deg * ($i - 1))
      }
    }
  }
  .sun__face {
    background-color: var(--p-483-c);
    border: 1px solid var(--p-483-c);
    border-radius: 50%;
    top: 27.5%;
    left: 27.5%;
    width: 45%;
    height: 45%;
    &::after {
      background-color: var(--p-1235-c);
      border-radius: 50%;
      content: " ";
      display: block;
      top: 50%;
      left: 50%;
      width: 98%;
      height: 98%;
      transform: translate(-50%, -50%);
    }
  }
  .sun__eye {
    background-color: var(--p-483-c);
    border-radius: 50%;
    top: 30%;
    z-index: 1;
    width: 25%;
    height: 25%;
    &:nth-child(1) {
      left: 20%;
    }
    &:nth-child(2) {
      right: 20%;
    }
    &::after {
      background-color: var(--p-1235-c);
      border-radius: 50%;
      content: " ";
      display: block;
      top: 50%;
      left: 50%;
      width: 75%;
      height: 75%;
      transform: translate(-50%, -50%);
    }
  }
  .sun__mouth {
    background-color: var(--p-483-c);
    border-radius: 50%;
    z-index: 1;
    top: 55%;
    left: 50%;
    width: 50%;
    height: 25%;
    transform: translateX(-50%);
    &::after {
      background-color: var(--p-1235-c);
      border-radius: 50%;
      content: " ";
      display: block;
      top: -10%;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

/* Armenia flag */
.flag--armenia {
  background-color: var(--p-286-c);
  .row--1-3 {
    &:nth-child(1) {
      background-color: var(--p-485-c);
    }
    &:nth-child(2) {
      background-color: var(--p-1235-c);
      bottom: 0;
    }
  }
}

/* Republic of Artsakh flag */
.flag--artsakh {
  .step--white {
    background-color: var(--p-safe);
    width: calc(100% / 15 * 2);
    height: calc(100% / 9);
    $pos: (0 1 2 3 4 3 2 1 0);
    @for $i from 1 through 9 {
      &:nth-child(#{$i + 2}) {
        top: calc(100% / 9 * (#{$i} - 1));
        right: calc(100% / 15 * #{nth($pos, $i)});
      }
    }
  }
}

/* The Bahamas flag */
.flag--bahamas {
  background-color: var(--p-314-c);
  .row--1-3 {
    background-color: var(--p-115-c);
    top: calc(100% / 3);
  }
  .triangle--black {
    width: calc(40%);
    height: 100%;
    &::before, &::after {
      background-color: var(--p-black);
      content: " ";
      display: block;
      height: 50%;
      width: 100%;
    }
    &::before {
      transform-origin: bottom left;
      transform: skewX(var(--a-8-5-b-l));
    }
    &::after {
      bottom: 0;
      transform-origin: top left;
      transform: skewX(var(--a-8-5-b-r));
    }
  }
}

/* Chile flag */
.flag--chile {
  background-image: linear-gradient(
    to bottom,
    var(--p-safe) 0%,
    var(--p-safe) 50%,
    var(--p-485-c) 50%,
    var(--p-485-c) 100%
  );
  .canton--blue {
    background-color: var(--p-286-c);
    width: calc(100% / 3);
    height: 50%;
  }
  .star__outer {
    height: 50%;
    width: 50%;
    left: 25%;
    top: 25%;
  }
  .arm__half::after {
    background-color: var(--p-safe);
  }
}

/* The Republic of the Congo flag */
.flag--congo-republic {
  background-image: linear-gradient(
    135deg,
    var(--p-355-c) 0%,
    var(--p-355-c) calc(100% / 5 * 2),
    var(--p-109-c) calc(100% / 5 * 2),
    var(--p-109-c) calc(100% / 5 * 3),
    var(--p-red-032-c) calc(100% / 5 * 3),
    var(--p-red-032-c) calc(100%)
  );
}

/* Denmark flag */
.flag--denmark {
  background-color: var(--p-186-c);
  .bar--white {
    background-color: var(--p-safe);
    &:nth-child(1) {
      left: calc(100% / 37 * 12);
      width: calc(100% / 37 * 4);
      height: 100%;
    }
    &:nth-child(2) {
      top: calc(100% / 14 * 6);
      width: 100%;
      height: calc(100% / 14 * 2);
    }
  }
}

/* Georgia flag */
.flag--georgia {
  background-color: var(--p-safe);
  background-image:
    linear-gradient(
      to right,
      transparent 0%,
      transparent calc(100% / 3 * 1.3),
      var(--p-485-c) calc(100% / 3 * 1.3),
      var(--p-485-c) calc(100% / 3 * 1.7),
      transparent calc(100% / 3 * 1.7),
      transparent 100%
    ),
    linear-gradient(
      to top,
      transparent 0%,
      transparent 40%,
      var(--p-485-c) 40%,
      var(--p-485-c) 60%,
      transparent 60%,
      transparent 100%
    );
  .bolnur-katskhuri {
    background-color: var(--p-485-c);
    width: calc(100% / 3 * 0.4);
    height: 20%;
    overflow: hidden;
    &:nth-child(1) {
      top: 10%;
      left: calc(100% / 3 * 0.45);
    }
    &:nth-child(2) {
      top: 10%;
      right: calc(100% / 3 * 0.45);
    }
    &:nth-child(3) {
      bottom: 10%;
      left: calc(100% / 3 * 0.45);
    }
    &:nth-child(4) {
      right: calc(100% / 3 * 0.45);
      bottom: 10%;
    }
  }
  .bolnur-katskhuri__cutout {
    background-color: var(--p-safe);
    width: 100%;
    height: 100%;
    &:nth-child(1) {
      border-top-right-radius: 100%;
      border-bottom-left-radius: 100%;
      top: -65%;
      left: -65%;
    }
    &:nth-child(2) {
      border-top-left-radius: 100%;
      border-bottom-right-radius: 100%;
      top: -65%;
      right: -65%;
    }
    &:nth-child(3) {
      border-top-right-radius: 100%;
      border-bottom-left-radius: 100%;
      right: -65%;
      bottom: -65%;
    }
    &:nth-child(4) {
      border-top-left-radius: 100%;
      border-bottom-right-radius: 100%;
      bottom: -65%;
      left: -65%;
    }
  }
}

/* Greece flag */
.flag--greece {
  background-color: var(--p-286-c);
  .row--1-9 {
    background-color: var(--p-safe);
    &:nth-child(1) {
      top: calc(100% / 9);
    }
    &:nth-child(2) {
      top: calc(100% / 9 * 3);
    }
    &:nth-child(3) {
      top: calc(100% / 9 * 5);
    }
    &:nth-child(4) {
      top: calc(100% / 9 * 7);
    }
  }
  .canton--blue {
    background-color: inherit;
    height: calc(100% / 9 * 5);
    width: calc(100% / 9 * 5 / 3 * 2);
  }
  .bar--white {
    background-color: var(--p-safe);
    height: calc(100% / 5);
    width: 100%;
    top: calc(100% / 5 * 2);
    &:nth-child(1) {
      transform: rotate(90deg);
    }
  }
}

/* South Korea flag */
.flag--korea-south {
  background-color: var(--p-safe);
  .taegeuk {
    background-image: linear-gradient(
      to bottom,
      var(--p-186-c) 0%,
      var(--p-186-c) 50%,
      var(--p-294-c) 50%,
      var(--p-294-c) 100%
    );
    border-radius: 50%;
    top: 25%;
    left: calc(100% / 3);
    width: calc(100% / 3);
    height: 50%;
    transform: rotate(33.69deg);
    &::before, &::after {
      border-radius: 50%;
      content: " ";
      display: block;
      top: 25%;
      width: 50%;
      height: 50%;
    }
    &::before {
      background-color: var(--p-186-c);
    }
    &::after {
      background-color: var(--p-294-c);
      right: 0;
    }
  }
  .trigram {
    background-image: linear-gradient(
      to right,
      var(--p-black) 0%,
      var(--p-black) calc(100% / 8 * 2),
      var(--p-safe) calc(100% / 8 * 2),
      var(--p-safe) calc(100% / 8 * 3),
      var(--p-black) calc(100% / 8 * 3),
      var(--p-black) calc(100% / 8 * 5),
      var(--p-safe) calc(100% / 8 * 5),
      var(--p-safe) calc(100% / 8 * 6),
      var(--p-black) calc(100% / 8 * 6),
      var(--p-black) 100%
    );
    top: calc(100% / 8 * 3);
    left: calc(100% / 36 * 5);
    width: calc(100% / 9);
    height: 25%;
    transform-origin: calc(100% + (100% * 9 / 4)) center;
    &::before, &::after {
      background-color: var(--p-safe);
      content: " ";
      top: calc(100% / 16 * 7);
      height: calc(100% / 8);
    }
    &:nth-child(2) {
      transform: rotate(var(--a-3-2-b));
    }
    &:nth-child(3) {
      transform: rotate(calc(180deg - var(--a-3-2-b)));
      &::before, &::after {
        width: calc(100% / 4);
      }
      &::after {
        right: 0;
      }
    }
    &:nth-child(4) {
      transform: rotate(calc(180deg + var(--a-3-2-b)));
      &::before {
        width: 100%;
      }
    }
    &:nth-child(5) {
      transform: rotate(calc(360deg - var(--a-3-2-b)));
      &::before {
        width: calc(100% / 4);
        left: calc(100% / 8 * 3);
      }
    }
  }
}

/* Kuwait flag */
.flag--kuwait {
  background-color: var(--p-safe);
  .row--1-3 {
    &:nth-child(1) {
      background-color: var(--p-186-c);
    }
    &:nth-child(2) {
      background-color: var(--p-348-c);
      bottom: 0;
    }
  }
  .rhombus--black {
    background-color: var(--p-black);
    top: calc(100% / 3);
    width: 25%;
    height: calc(100% / 3);
    &::before, &::after {
      background-color: inherit;
      content: " ";
      display: block;
      height: 100%;
      width: 100%;
    }
    &::before {
      top: -100%;
      transform-origin: bottom left;
      transform: skewX(var(--a-3-2-b-l));
    }
    &::after {
      bottom: -100%;
      transform-origin: top left;
      transform: skewX(var(--a-3-2-b-r));
    }
  }
}

/* Qatar flag */
.flag--qatar {
  background-color: var(--p-1955-c);
  .bar--white {
    background-color: var(--p-safe);
    width: calc(100% / 28 * 10);
    height: calc(100% / 18);
    left: calc(100% / 28 * -2);
    transform-origin: bottom left;
    transform: skew(-63.435deg);
    @for $i from 1 through 18 {
      &:nth-child(#{$i}) {
        top: calc(100% / 18 * (#{$i} - 1));
      }
    }
    &:nth-child(odd) {
      transform-origin: top left;
      transform: skew(63.435deg);
    }
  }
}

/* Seychelles flag */
.flag--seychelles {
  background-color: var(--p-294-c);
  .poly {
    width: 100%;
    height: 100%;
    &:nth-child(1) {
      background-color: var(--p-122-c);
      transform-origin: bottom left;
      transform: skew(-33.69deg);
    }
    &:nth-child(2) {
      background-color: var(--p-1795-c);
      transform-origin: bottom left;
      transform: skew(-53.13deg);
    }
    &:nth-child(3), &:nth-child(4) {
      top: 100%;
      transform-origin: top left;
    }
    &:nth-child(3) {
      background-color: var(--p-safe);
      transform: skew(0, -18.435deg);
    }
    &:nth-child(4) {
      background-color: var(--p-356-c);
      transform: skew(0, -9.462deg);
    }
  }
}

/* Switzerland flag */
.flag--switzerland {
  background-color: var(--p-485-c);
  .bar--white {
    background-color: var(--p-safe);
    &:nth-child(1) {
      top: calc(100% / 32 * 13);
      left: calc(100% / 32 * 6);
      width: calc(100% / 32 * 20);
      height: calc(100% / 32 * 6);
    }
    &:nth-child(2) {
      top: calc(100% / 32 * 6);
      left: calc(100% / 32 * 13);
      width: calc(100% / 32 * 6);
      height: calc(100% / 32 * 20);
    }
  }
}

/* Timor Leste flag */
.flag--timor-leste {
  background-color: var(--p-485-c);
  .triangle--yellow {
    width: 50%;
    height: 100%;
    &::before, &::after {
      background-color: var(--p-108-c);
      content: " ";
      display: block;
      height: 50%;
      width: 100%;
    }
    &::before {
      transform-origin: bottom left;
      transform: skewX(var(--a-2-1-b-l));
    }
    &::after {
      bottom: 0;
      transform-origin: top left;
      transform: skewX(var(--a-2-1-b-r));
    }
  }
  .triangle--black {
    width: calc(100% / 3);
    height: 100%;
    &::before, &::after {
      background-color: var(--p-black);
      content: " ";
      display: block;
      height: 50%;
      width: 100%;
    }
    &::before {
      transform-origin: bottom left;
      transform: skewX(var(--a-4-3-b-l));
    }
    &::after {
      bottom: 0;
      transform-origin: top left;
      transform: skewX(var(--a-4-3-b-r));
    }
  }
  .star__outer {
    height: calc(100% / 3);
    width: calc(100% / 6);
    left: calc(100% / 24);
    top: calc(100% / 3);
    transform: rotate(45deg);
  }
  .arm__half::after {
    background-color: var(--p-safe);
  }
}

/* Tonga flag */
.flag--tonga {
  background-color: var(--p-199-c);
  .canton--white {
    background-color: var(--p-safe);
    width: calc(100% / 96 * 40);
    height: 50%;
  }
  .bar--red {
    background-color: var(--p-199-c);
    &:nth-child(1) {
      top: calc(100% / 24 * 3);
      left: calc(100% / 40 * 17);
      width: calc(100% / 40 * 6);
      height: calc(100% / 24 * 18);
    }
    &:nth-child(2) {
      top: calc(100% / 24 * 9);
      left: calc(100% / 40 * 11);
      width: calc(100% / 40 * 18);
      height: calc(100% / 24 * 6);
    }
  }
}

/* United Kingdom flag */
.flag--uk {
  background-color: var(--p-280-c);
  .diag-bar--white {
    background-color: var(--p-safe);
    bottom: 0;
    width: 10%;
    height: var(--h-2-1);
    transform-origin: bottom center;
  }
  .diag-bar--white:nth-child(1) {
    left: -5%;
    transform: rotate(var(--a-2-1-b-l));
  }
  .diag-bar--white:nth-child(2) {
    right: -5%;
    transform: rotate(var(--a-2-1-b-r));
  }
  .diag-bar--red {
    background-color: var(--p-186-c);
    width: calc(100% / 60 * 2);
    height: calc(var(--h-2-1) / 2);
  }
  .diag-bar--red:nth-child(3) {
    top: 0;
    left: calc(-100% / 60 * 2);
    transform-origin: top right;
    transform: rotate(var(--a-2-1-b-r));
  }
  .diag-bar--red:nth-child(4) {
    bottom: 0;
    left: 0;
    transform-origin: bottom left;
    transform: rotate(var(--a-2-1-b-l));
  }
  .diag-bar--red:nth-child(5) {
    top: 0;
    right: 0;
    transform-origin: top right;
    transform: rotate(var(--a-2-1-b-l));
  }
  .diag-bar--red:nth-child(6) {
    bottom: 0;
    right: calc(-100% / 60 * 2);
    transform-origin: bottom left;
    transform: rotate(var(--a-2-1-b-r));
  }
  .column--white {
    background-color: var(--p-safe);
    top: 0;
    left: calc(100% / 60 * 25);
    width: calc(100% / 60 * 10);
    height: 100%;
  }
  .row--white {
    background-color: var(--p-safe);
    top: calc(100% / 30 * 10);
    left: 0;
    width: 100%;
    height: calc(100% / 30 * 10);
  }
  .column--red {
    background-color: var(--p-186-c);
    top: 0;
    left: calc(100% / 60 * 27);
    width: calc(100% / 60 * 6);
    height: 100%;
  }
  .row--red {
    background-color: var(--p-186-c);
    top: calc(100% / 30 * 12);
    left: 0;
    width: 100%;
    height: calc(100% / 30 * 6);
  }
}
