.flags__grid
  - # Argentina
  .flags__item
    .flag__ratio.flag__ratio--14-9
      .flag.flag--argentina{:title => 'Argentina'}
        .row--1-3
        .row--1-3
        .sun
          - 16.times do
            .sun__ray
          .sun__face
            .sun__eye
            .sun__eye
            .sun__mouth
  - # Armenia
  .flags__item
    .flag__ratio.flag__ratio--2-1
      .flag.flag--armenia{:title => 'Armenia'}
        .row--1-3
        .row--1-3
  - # The Republic of Artsakh
  .flags__item
    .flag__ratio.flag__ratio--2-1
      .flag.flag--artsakh.flag--armenia{:title => 'The Republic of Artsakh'}
        .row--1-3
        .row--1-3
        - 9.times do
          .step--white
  - # The Bahamas
  .flags__item
    .flag__ratio.flag__ratio--2-1
      .flag.flag--bahamas{:title => 'The Bahamas'}
        .row--1-3
        .triangle--black
  - # Denmark
  .flags__item
    .flag__ratio.flag__ratio--37-28
      .flag.flag--denmark{:title => 'Denmark'}
        .bar--white
        .bar--white
  - # Kuwait
  .flags__item
    .flag__ratio.flag__ratio--2-1
      .flag.flag--kuwait{:title => 'Kuwait'}
        .row--1-3
        .row--1-3
        .rhombus--black
  - # Qatar
  .flags__item
    .flag__ratio.flag__ratio--28-11
      .flag.flag--qatar{:title => 'Qatar'}
        - 18.times do
          .bar--white
  - # Seychelles
  .flags__item
    .flag__ratio.flag__ratio--2-1
      .flag.flag--seychelles{:title => 'Seychelles'}
        - 4.times do
          .poly  
  - # Switzerland
  .flags__item
    .flag__ratio.flag__ratio--1-1
      .flag.flag--switzerland{:title => 'Switzerland'}
        .bar--white
        .bar--white
  - # Timor Leste
  .flags__item
    .flag__ratio.flag__ratio--2-1
      .flag.flag--timor-leste{:title => 'Timor Leste'}
        .triangle--yellow
        .triangle--black
        .star
  - # Tonga
  .flags__item
    .flag__ratio.flag__ratio--2-1
      .flag.flag--tonga{:title => 'Tonga'}
        .canton--white
          .bar--red
          .bar--red
  - # United Kingdom
  .flags__item
    .flag__ratio.flag__ratio--2-1
      .flag.flag--uk{:title => 'The United Kingdom'}
        .diag-bar--white
        .diag-bar--white
        - 4.times do
          .diag-bar--red
        .column--white
        .row--white
        .column--red
        .row--red
